<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Meu APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto"><!--ms-auto-->
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLink-active="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLink-active="active-link">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sobre" routerLink-active="active-link">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contato" routerLink-active="active-link">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>